.title {
    text-align: center;
    font-size: 30px;
    color: teal;
    padding-bottom: 10px;
    padding-top: 20px;
}
body{
    text-align: center;
    background-color: rgb(236, 226, 213);
}
button {
    color: pink;
    background-color: teal;
    font-size: 10px;
}
#add-user-input {
    color: pink;
}
#user-input{
    margin-bottom: 10px;
}
#input{
    color: teal;
    padding-bottom: 10px;
}
.images{
    height: 100px;
    max-width: 25%;
    margin: 10px 10px 10px 10px;
    border-color: white;
    border-width: 10px;
    border-style: solid;
}
